#conv {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  overflow: auto;
  border-color: #04AA6D;
  border-style: double;
  color: #2bf208;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  width: max-content;
  background-color: #f1f1f1;
  border-color: #2d2f2e;
  border-style: double;
}

.item {
  background-color:#b3e3de;
  margin:25px;
  padding:1px;
  border-radius:25px;
}

#p1 {
  color: #2bf208;
  font-weight: bold;
}

.divi {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 100%; /* Full height */
  overflow: auto;
  border-color: #04AA6D;
  border-style: double;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

h1 {
  color: aquamarine;
  }

#hi {
  color: rgb(255, 187, 210);
  font-weight: bold;

}

#mssg {
  color: #61dafb;
}

#end {
  font-weight: 900;
} 

.App {
  text-align: center;
}

.App-header {
  background-color: #3d3f42;
  min-height: 93.5vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* font-size: calc(5px + 1.5vmin); */
  /* color: white; */
}



